/env
# Backend (Django)
/backend/__pycache__/
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd
/backend/.Python
/backend/env/
/backend/build/
/backend/develop-eggs/
/backend/dist/
/backend/downloads/
/backend/eggs/
/backend/.eggs/
/backend/lib/
/backend/lib64/
/backend/parts/
/backend/sdist/
/backend/var/
/backend/.coverage
/backend/.mypy_cache/
/backend/.pytest_cache/
/backend/.vscode/
/backend/db.sqlite3
/backend/media/
/backend/staticfiles/
/backend/local_settings.py
/backend/.env
/backend/.env.*

# Frontend (Vite + TailwindCSS)
/frontend/dist/
/frontend/.vite/
/frontend/.sass-cache/
/frontend/.eslintcache
/frontend/.stylelintcache
/frontend/tailwind.config.js
/frontend/postcss.config.js
/frontend/.tailwindcss-debug.log
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
